@font-face {
	font-family: 'Comic Sans MS';
	src: url('./assets/fonts/comic.eot'); /* IE9 Compat Modes */
 	src: url('./assets/fonts/comic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       		url('./assets/fonts/comic.woff2') format('woff2'), /* Super Modern Browsers */
       		url('./assets/fonts/comic.woff') format('woff'), /* Pretty Modern Browsers */
       		url('./assets/fonts/comic.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('./assets/fonts/comic.svg#svgFontName') format('svg'); /* Legacy iOS */
}
.bar{
	width: 100%;
	font-size: 550%;
	background: blue;
	color: red;
	margin: 0;
	padding: 0;
}
.welcome{
	font-size: 150%;
}
#mylinks{
	fant-size: 450%;
	margin: 10px;
}
body{
	margin: 0;
	font-family: Comic Sans MS;
}